<!DOCTYPE html>
<html>
  <% include ../partials/head %>
  <body>
    <% include ../partials/header %>
      <div class='container'>
        <h1>You have to login!</h1>
        <div>
          <form action='/auth/login' method='post'>
            <input class="uk-input uk-form-blank uk-form-width-medium" type="text" placeholder="Username" name="username">
            <input class="uk-input uk-form-blank uk-form-width-medium" type='password' name='password' placeholder="Password">
            <button class="uk-button uk-button-primary" type="submit">Sign In</button>
          </form>
        </div>
      </div>
    <% include ../partials/footer %>
  </body>
</html>
