<!DOCTYPE html>
<html>
  <% include ../partials/head %>
  <body>
    <% include ../partials/header %>
    <div class="main-wrapper">
      <div class='uk-container'>
        <h1>Create An Account</h1>
        <div>
          <form class="uk-form-stacked register-form" action='/register' method='post'>
            <div class="uk-container">
              <input class="uk-input uk-form-blank uk-form-width-medium" type='text' name='username' placeholder="Username" />
              <input class="uk-input uk-form-blank uk-form-width-medium" type='password' name='password' placeholder="Password" />
              <input class="uk-input uk-form-blank uk-form-width-medium" type='text' name='firstName' placeholder="First Name" />
              <input class="uk-input uk-form-blank uk-form-width-medium" type='text' name='lastName' placeholder="Last Name" />
              <input class="uk-input uk-form-blank uk-form-width-medium" type='email' name='email' placeholder="Email Address" />
              <button class="uk-button uk-button-default rounded-button green dark-hover" type="submit">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <% include ../partials/footer %>
  </body>
  <% include ../partials/scripts %>
</html>
