<!DOCTYPE html>
<html>
  <% include ../partials/head %>
  <body>
    <% include ../partials/header %>
      <div class='container'>
        <h1>You have to login!</h1>
        <div>
          <form action='/register' method='post'>
              <input class="uk-input uk-form-blank uk-form-width-medium" type='text' name='username' placeholder="username" />
              <input class="uk-input uk-form-blank uk-form-width-medium" type='password' name='password' placeholder="password" />
              <input class="uk-input uk-form-blank uk-form-width-medium" type='text' name='firstName' placeholder="firstName" />
              <input class="uk-input uk-form-blank uk-form-width-medium" type='text' name='lastName' placeholder="lastName" />
              <input class="uk-input uk-form-blank uk-form-width-medium" type='text' name='email' placeholder="email" />
            <button class="uk-button uk-button-primary" type="submit">Register</button>
          </form>
        </div>
      </div>
    <% include ../partials/footer %>
  </body>
</html>
