<% include ../partials/header %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    go to the user folder and the index ejs file because it won't ready this
<% include ../partials/footer %>
