<footer class="uk-margin-xlarge-top">
  <div class="uk-container alt">
    <div class="uk-child-width-1-2@s uk-text-center" uk-grid>
      <div>
        <div class="uk-card uk-card-body">
          <a class="uk-link-reset" href="terms.pdf"><h4 class="uk-card-title alt uk-margin-remove-bottom">Legal Stuff</h4></a>
        </div>
      </div>
      <div class="uk-width-expand@m">
        <div class="uk-text-truncate uk-card uk-card-body">&copy; 2017 Anthony Mejia All Rights Reserved.</div>
      </div>
    </div>
  </div>
</footer>
