<footer class="page-footer grey lighten-3">
  <div class="uk-container uk-column-1-3@m">

  <div class="footer-copyright">
    <span class="grey-text darken-4">Copyright 2017 Anthony Mejia All Rights Reserved.</span>
  </div>
  <a href="#" uk-totop uk-scroll></a>
</footer>
