<footer class="page-footer grey lighten-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="grey-text darken-4">Company Bio</h5>
        <p class="grey-text darken-3">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    <span class="grey-text darken-4">Copyright 2017 Anthony Mejia All Rights Reserved.</span>
    </div>
  </div>
</footer>
