<header class="main-header" uk-sticky="show-on-up: true; animation: uk-animation-slide-top">
  <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
    <a class="uk-navbar-item uk-logo" href="/">Echo</a>
      <div class="uk-navbar-right">
          <% if (user) { %>
            <ul class="uk-navbar-nav uk-visible@m">
              <li class="light-text"><a href="/about">About</a></li>
              <li class="light-text"><a href="/contact">Contact</a></li>
              <li class="light-text"><a href="./<%= user.username %>"><%= user.username %></a></li>
              <li style="margin-top: 6px"><a href="./logout"><button class="uk-button uk-button-default uk-button-alert rounded-button">Sign Out</button></a></li>
            </ul>
          <% } else {%>
            <ul class="uk-navbar-nav uk-visible@m">
              <li class="light-text"><a href="/about">About</a></li>
              <li class="light-text"><a href="/contact">Contact</a></li>
              <li style="margin-top: 6px"><a href="/login"><button class="uk-button uk-button-default rounded-button signin-button">Sign In</button></a></li>
            </ul>
          <% } %>
          <span class="uk-navbar-toggle-icon uk-hidden@m" href="#mobile-menu" uk-toggle uk-icon="{icon: check}"></span>
          <% include mobile-menu %>
      </div>
  </nav>
</header>
