<head>
  <title>Echo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.9/css/uikit.min.css" />
  <!-- <link rel='stylesheet' href='../stylesheets/style.css' /> -->


  <style>
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 100%;
    width:100%;
  }
  /* half the screen */
  html, body {
    height: 50%;
    margin: 0;
    padding: 0;
  }
  </style>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9MHimyOKC4L9b8UMms1aVQRLnypfZbMk&callback=initMap"></script>

</head>
