<header uk-sticky>
  <nav class="uk-navbar-container" uk-navbar>
      <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="/">Logo</a>
          <ul class="uk-navbar-nav pull-right">
              <li class="uk-active"><a href="#">Active</a></li>
              <li>
                  <a href="#">Parent</a>
                  <div class="uk-navbar-dropdown">
                      <ul class="uk-nav uk-navbar-dropdown-nav">
                          <li class="uk-active"><a href="#">Active</a></li>
                          <li><a href="#">Item</a></li>
                          <li><a href="#">Item</a></li>
                      </ul>
                  </div>
              </li>
              <li><a href="#">Item</a></li>
          </ul>
      </div>
  </nav>
</header>
