<div class="main-profile-card uk-height-large uk-max-height-large">
  <div class="uk-width-large uk-align-center uk-text-center">
     <h2 class="profile-name"><%= user.username %></h2>
     <h4 class="profile-details">Joined <%= joinDate %></h4>
     <h4 class="profile-details">Level <%= level %></h4>
  </div>
</div>
