<ul class="uk-list" id="message-list">
  <% messages.forEach((item) => { %>
    <li class="message">
      <div>
        <span class="title"><a href="message/show"><%= item.content %></a></span>
        <p><span class="sender ">@<%= item.originId %><span class="">Today</span></p>
      </div>
      <form class="new-comment" action="/comments" method="post">
        <input class="uk-input uk-form-blank uk-text-success uk-form-width-small db" type="hidden" name="originMessage" value="1">

        <input class="uk-input uk-form-blank uk-text-success uk-form-width-small db" type="text" name="content" placeholder="Reply to Status">
        <button class="uk-button uk-button-primary uk-button-small" type="submit">Reply</button>
      </form>
    </li>
  <% }) %>
</ul>
