<ul class="uk-list" id="message-list">
  <% messages.forEach((item) => { %>
      <li class="messasge">
      <div>
        <span class="title"><%= item.content %></span>
        <p><span class="sender ">@<%= item.originId %><span class="">Today</span></p>
      </div>
      </li>
  <% }) %>
</ul>
