<!DOCTYPE html>
<html lang="en">

<% include partials/head %>

<body class='<%= title %>'>
    <% include partials/header %>
    <div class="main-wrapper hero">
      <div class="jumbo gradient-bg uk-flex-center uk-flex-middle uk-flex-column" uk-height-viewport>
        <h1 class="uk-animation-slide-top uk-text-center uk-text-left@s">About Echo</h1>
        <a href="/register" class="uk-link-reset"><button class="uk-button uk-button-default rounded-button uk-align-text uk-animation-slide-bottom">Get Started</button></a>
      </div>
      <div class="uk-container">
          <div class="page-section uk-flex uk-flex-center uk-flex-column" uk-height-viewport>
            <h1 class="uk-text-center">About Us</h1>
            <div class="uk-section uk-section-muted">
              <div class="uk-container">
                <h2>What else to say?</h2>
                <p class="alt big uk-margin-xlarge-top">Echo started with one goal in mind; distribute the best content to everyone across the globe. Within a couple days, we started designing our app with our target users in mind (I'm talking about you!). In the future, we plan to implement tons of new features that are already in the pipeline. If you have any more awesome features you can think of, feel free to contact us! We're always available and willing to listen to our users (except on Football Sundays).</p>
                <p class="alt big uk-margin-medium-top">Give Echo a try and let us know what you think!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% include partials/footer %>
</body>
<% include partials/scripts %>
</html>
