<!DOCTYPE html>
<html lang="en">

<% include partials/head %>

<body class='<%= title %>'>
    <% include partials/header %>
    <div class="main-wrapper hero">
      <div class="jumbo gradient-bg uk-flex-center uk-flex-middle uk-flex-column" uk-height-viewport>
        <h1 class="uk-animation-slide-top uk-text-center uk-text-left@s">Contact Echo</h1>
        <a href="/register" class="uk-link-reset"><button class="uk-button uk-button-default rounded-button uk-align-text uk-animation-slide-bottom">Get Started</button></a>
      </div>
      <div class="uk-container">
          <div class="uk-margin-xlarge-bottom uk-section uk-flex uk-flex-center uk-flex-column" uk-height-viewport>
            <div>
              <h1 class="uk-text-center uk-margin-large-bottom alt">Meet the team</h1>
              <div class="uk-child-width-1-3@s uk-text-center" uk-grid uk-match-height>
                <div class="uk-text-center">
                  <img class="uk-width-1-1 uk-border-rounded" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/222/35b/26f866c.jpg" alt="Alex Diaz photo">
                  <h2 class="alt">Alex Diaz</h2>
                  <p class="uk-text-left Comfortaa">Exceptional Technologist with 15 years experience in supervising print projects, coordinating, computer repairs on hardware/software, technical research and problem solving with heavy customer service interaction in organization levels. As well as established operations leveraging expertise in organization, computer networking, and problem solving to provide exceptional user support and assistance in resolving conflict.</p>
                </div>
                <div class="uk-text-center">
                  <img class="uk-width-1-1 uk-border-rounded" src="https://media.licdn.com/media/AAEAAQAAAAAAAAgYAAAAJDViODk3ZDkzLTcyNTQtNDgzMi05MjViLWUxOWU1MjM3YWFlOQ.jpg" alt="Anthony Mejia photo">
                  <h2 class="alt">Anthony Mejia</h2>
                  <p class="uk-text-left Comfortaa">Full-Stack Web Developer with experience in Client Services and HR. In my spare time, I enjoy playing sports and keeping myself active as it attributes to my team-player mentality. My work expresses my dedication and defines my work ethic with every project I take on. My passion and creativity to this industry are key to my overall success and set the standard for anything I hold myself responsible for.</p>
                </div>
                <div class="uk-text-center">
                  <img class="uk-width-1-1 uk-border-rounded" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=David%20Nunez&w=500&h=500" alt="">
                  <h2 class="alt">David Nunez</h2>
                  <p class="uk-text-left Comfortaa">I have a background in budgeting which demonstrates my analytical ability, I am able to deliver solutions under strenuous deadlines. This skill I believe is applicable in not only the creation of new products in web development, but also in revision of other peoples code. My go getter personality allows me to be methodical in my approach to solutions and to not stray from a problem.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="uk-section">
            <h1 class="uk-text-center alt">Contact Us</h1>
            <div class="uk-section">
              <div class="uk-container">
                <div>
                  <h2 class="alt">Address</h2>
                  <p class="alt medium">
                    <span class="uk-display-block">10 East 21st Street</span>
                    <span class="uk-display-block">New York, NY, 10010</span>
                  </p>
                </div>
                <div>
                  <h2 class="alt">Phone Number</h2>
                  <p class="alt medium">(347) 474 - 9838</p>
                </div>
                <div>
                  <h2 class="alt">Email Address</h2>
                  <p class="alt medium">contact@echotalk.com</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% include partials/footer %>
</body>
<% include partials/scripts %>
</html>
