<% include ./partials/header %>
        <div class>
          <h1>index page</h1>
          <a href='/auth/register'>Register</a>
          <a href='/auth/login'>Sign In</a>
        </div>

<% include ./partials/footer %>
