<!DOCTYPE html>
<html>

<% include partials/head %>

<body class='<%= title %>'>
    <% include partials/header %>
    <div class="main-wrapper">
        <div class="uk-container">
          <h1>index page</h1>
          <a href='/auth/register'>Register</a>
          <a href='/auth/login'>Sign In</a>
        </div>
    </div>
    <% include partials/footer %>
</body>

</html>
