<!DOCTYPE html>
<html>

<% include partials/head %>

<body class='<%= title %>'>
    <% include partials/header %>
    <div class="main-wrapper">
        <div class="uk-container">
          <h1>index page</h1>
          <button class="uk-button uk-button-primary" type="submit">Register</button>
          <button class="uk-button uk-button-primary" type="submit">Sign In</button>
        </div>
    </div>
    <% include partials/footer %>
</body>

</html>
