<!DOCTYPE html>
<html lang="en">

<% include partials/head %>
    <body class='Feed'>
      <% include partials/header %>
        <div class="main-wrapper trans-top">
          <% include partials/main-profile-card %>
          <div class="transition-border uk-animation-slide-bottom-medium"></div>
            <div id="message-feed" class="uk-container uk-margin-large-top">
                <h1 class="uk-animation-fade">Feed</h1>
                <a class="uk-button uk-button-default rounded-button green" href="#add-message" uk-toggle>New Message</a>
                <div id="add-message" class="uk-modal-full uk-modal" uk-modal>
                  <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" uk-height-viewport>
                    <button class="uk-modal-close-full" type="button" uk-close></button>
                    <form class="uk-search-large" action="/" method="post">
                      <input class="uk-search-input uk-text-center" type="text" name="content" placeholder="Enter Message" autofocus>
                      <button class="uk-button uk-align-center uk-button-default rounded-button green uk-hidden@m" type="submit">Add Message</button>
                    </form>
                  </div>
                </div>
                <% include partials/message-feed %>
              </div>
            </div>
        <% include partials/footer %>
      </body>
    <% include partials/scripts %>
</html>
