<!DOCTYPE html>
<html>

<% include partials/head %>
    <body class='Feed'>
      <div class="uk-container">
        <% include partials/header %>
            <div>
                <h1>Feed</h1>
                <% messages.forEach((item) => { %>
                    <p>
                      <%= item.content %>
                    </p>
                <% }) %>
            </div>
            <% include partials/footer %>
        </div>
    </body>

</html>
