<!DOCTYPE html>
<html>

<% include partials/head %>

  <body class='<%= title %>'>
    <% include partials/header %>
    <div class="main-wrapper hero">
      <div class="jumbo gradient-bg uk-flex-center uk-flex-middle uk-flex-column" uk-height-viewport>
        <h1 class="uk-animation-slide-top">Hello World</h1>
        <a href="/register" class="uk-link-reset"><button class="uk-button uk-button-default rounded-button uk-align-text uk-animation-slide-bottom">Get Started</button></a>
      </div>
      <div class="uk-container">
          <div class="page-section uk-flex uk-flex-center uk-flex-column" uk-height-viewport>
            <h1 class="uk-text-center">index page</h1>
            <div class="uk-section uk-section-muted">
              <div class="uk-container">
                <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
                  <div>
                    <h4>Expand your inner circle with interesting people!</h4>
                  </div>
                  <div>
                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</h4>
                  </div>
                  <div>
                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% include partials/footer %>
</body>
<% include partials/scripts %>
</html>
