<!DOCTYPE html>
<html>

<% include partials/head %>

  <body class='<%= title %>'>
    <% include partials/header %>
      <div class="main-wrapper">
        <div class="uk-container">
          <h1>index page</h1>
            <a href='/register'>
            <button class="uk-button uk-button-primary" type="submit">Register</button>
            </a>
            <a href='/login'>
            <button class="uk-button uk-button-primary" type="submit">Sign In</button>
          </a>
        </div>
      </div>
    <% include partials/footer %>

  </body>

</html>
