<!DOCTYPE html>
<html>
  <% include ../partials/head %>
  <body>
    <% include ../partials/header %>
      <div class='main-wrapper'>
        <div class="uk-container">
          <h1>You are now signed in</h1>
          <h2 style="display:flex; justify-content:center;">Are You sure you want to delete your account?</h2>
        </div>
      </div>

        <form action="<%= '/user/' + user.id + '?_method=DELETE' %>" method="POST"
          style="display:flex; justify-content:center;"
          >
          <input type="submit" value="DELETE ACCOUNT" />
        </form>

    <% include ../partials/footer %>
  </body>
</html>
