<!DOCTYPE html>
<html>
  <% include ../partials/head %>
  <body>
    <% include ../partials/header %>
      <div class='main-wrapper'>
        <div class="uk-container">
          <h1>You are now signed in</h1>
        </div>
      </div>
    <% include ../partials/footer %>
  </body>
</html>
