<<<<<<< HEAD
<!DOCTYPE html>
<html>
  <% include ../partials/head %>
  <body>
    <% include ../partials/header %>
      <div class='main-wrapper'>
        <div class="uk-container">
          <h1>You are now signed in</h1>
        </div>
      </div>
      <a href="<%= `/user/${user.id}/edit` %>">Edit Profile</a>
      <a href="/auth/logout">Logout</a>
    <% include ../partials/footer %>
=======
<% include ../partials/head.ejs %>
  <body>
    <% include ../partials/header.ejs %>
    <main>
      <div class="container">
        <p>Hello, this is the user profile page!</p>
        <p><%= user.username %></p>
        <p><%= user.email %></p>
        <a href="/auth/logout">LOG OUT</a>
      </div>
    </main>
    <% include ../partials/footer.ejs %>
>>>>>>> b7f7312315e069c4a536ca48dc05196b3cf3476b
  </body>
</html>
