<!-- <body>
  hey i am a message
</body> -->
<!DOCTYPE html>
<html>
  <div>
        <span class="reply">
          <a href="comments/show">
          <%= item.content %>
          </a>
        </span>
        </div>
  </body>
</html>
