<!-- <body>
  hey i am a message
</body> -->
<!DOCTYPE html>
<html>
  <div>
        <span class="reply">

          <p><%= message.content %></p>

          This is the unique clicked message
        </span>
        </div>
  </body>
</html>
