@import url(http://fonts.googleapis.com/css?family=Lato:100,200,300,400|Comfortaa:400|Open+Sans:400italic,700italic,400,700);
$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$main-bg: #fbf8f4;
$secondary-bg: #e5f6f3;
$navbg: #fbf8f4;
$icon-color: #c0c0c0;
$text-emphasis: #556073;
$green: #64A6AA;
$light-green: #91C7C1;
$light-text: rgba(255,255,255,.7);
$green-gradient: linear-gradient($green, $light-green);
$lato: 'Lato', sans-serif;
$Comfortaa: 'Comfortaa', sans-serif;
$open-sans: 'Open Sans', sans-serif; // Styles

html {
  height: 100%;

  body {
    h1,
    h2,
    h3 {
      font-weight   : 100;
      font-family   : $lato;
      text-transform: uppercase;
      letter-spacing: 0.2em;
    }
    display       : flex;
    min-height    : 100%;
    flex-direction: column;
    font-family   : $lato;
    font-weight   : normal;
    color         : $primary-color;
    background    : linear-gradient($secondary-bg, $main-bg -20%);

    header {
      nav {
        margin-bottom: -100%;
      }
    }

    .main-profile-card {
      background    : $green-gradient;
      padding       : 110px 10%;
      margin-top    : -110px;
      overflow      : hidden;
      letter-spacing: 0.1em;

      h2.profile-name {
        font-family  : $Comfortaa;
        margin-bottom: 0;
        color        : $light-text;
      }

      h4.profile-details {
        margin: 0;
        color : $light-text;
      }
    }

    form#login {
      input {
        display: block;
      }
    }

    .main-wrapper {
      flex       : 1;
      padding-top: 110px;
    }

    ul#message-list {
      padding    : 0;
      margin     : 0;
      font-family: $Comfortaa;

      li {
        margin-bottom: 3em;

        div {
          padding: 0 40px;

          p {
            font-weight: 400;
            margin     : 0;
            color      : $icon-color;
          }

          span.title {
            color    : $text-emphasis;
            font-size: 1.3em;
          }
        }
      }

      li span.title::before {
        content         : " ";
        width           : 7px;
        height          : 7px;
        border-radius   : 100%;
        background-color: $icon-color;
        display         : inline-block;
        margin-left     : -37px;
        margin-right    : 30px;
      }
    }
  }

  footer {
    margin-top: 50%;
    padding   : 50px;
  }
}
